<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Agriculture Cloud</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Smart Agriculture Cloud" />
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="stylesheets/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <!--//web font-->
    <!-- scripts -->
    <!-- jquery core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script>
    <!-- jqury -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- custom script -->
    <script type="text/javascript" src="javascripts/jwtparser.js"></script>
    <script type="text/javascript" src="javascripts/dashboard.js"></script>
</head>

<body style="margin: 0">
    <iframe id="frame" src="#" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">

    </iframe>
</body>

</html>